@using Domain.Entities
@model List<Menu>

<main class="container-fluid" id="mainContainer">
    <div class="card-group">
        @foreach (Menu menu in Model)
        {
            <div class="card">
                <div class="image-container">
                    @* <img src="@menu.ImagePath" class="card-img-top vw-25" style="width:auto !important" ; alt="..."> *@

                </div>
                <div class="card-body">
                    <h5 class="card-title">@menu.Name</h5>
                    <p class="card-text"></p>
                    <div class="quantity-container">
                        <a class="quantity-left-minus btn btn-danger btn-number">-</a>
                        <span class="quantity" id="quantity-@menu.Id">1</span>
                        <a class="quantity-right-plus btn btn-success btn-number">+</a>
                    </div>
                    <br />
                    <div class="overlay">
                        <button class="btn btn-dark" onclick="addToCart('@menu.Id')">Sepete Ekle</button>
                    </div>

                </div>
            </div>

        }
    </div>

</main>
