<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda - GurmeBurger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        header {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
        }

        main {
            padding: 20px;
        }

        .profile-image {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
            margin-top: 20px;
        }

        .about-text {
            margin-top: 20px;
            text-align: justify;
        }

        footer {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h1>GurmeBurger</h1>
    </header>

    <main class="container">
        <section>
            <h2 class="text-center">Hakkımızda</h2>
            <img src="profile_image.jpg" alt="Profil Resmi" class="profile-image mx-auto d-block img-fluid" />
            <p class="about-text">
                Merhaba, biz SRHTS ekibi, GurmeBurger'ın kurucusu ve aşçısıyız ve sizinle lezzetli burgerleri seven bir ekip olarak ve bu sevgiyi paylaşmak için buradayız.
                GurmeBurger olarak kurduğumuz bu mekan, benzersiz ve enfes lezzetlerle dolu bir burger deneyimi sunmayı amaçlamaktadır.
                Sizleri GurmeBurger ailesine davet etmekten mutluluk duyarım. Umarım lezzet dolu bir deneyim yaşarsınız!
            </p>
        </section>
    </main>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
