<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
     Layout = "HomeLayout";
}

@* <head> *@
    @* <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda - GurmeBurger</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,800,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GurmeBurger</title> *@
    @* <link rel="stylesheet/less" type="text/css" href="/css/style1.less" /> *@
    @* <link href="~/css/style1.css" rel="stylesheet/less" /> *@
  @*   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        header {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
        }

        main {
            padding: 20px;
        }

        .profile-image {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
            margin-top: 20px;
        }

        .about-text {
            margin-top: 20px;
            text-align: justify;
        }

        footer {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style> *@
 @*    <style>
        /* Orange text gradient only for Webkit (Chrome and Safari) */
        .webkit #our-team h4.sub-title, .webkit #foods h4.sub-title {
            background: #ef9e10; /* Old browsers */
            background: -moz-linear-gradient(left, #ef9e10 40%, #ef6910 60%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(40%,#ef9e10), color-stop(60%,#ef6910)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, #ef9e10 40%,#ef6910 60%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, #ef9e10 40%,#ef6910 60%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, #ef9e10 40%,#ef6910 60%); /* IE10+ */
            background: linear-gradient(to right, #ef9e10 40%,#ef6910 60%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9e10', endColorstr='#ef6910',GradientType=1 ); /* IE6-9 */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style> *@

    <!-- Option for Less JS -->
   @*  <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false
        };
    </script>
    <script type="text/javascript" src="~/js/less.min.js"></script>
    <script type="text/javascript" src="~/js/retina.min.js"></script>
    <script type="text/javascript" src="~/js/modernizr.custom.71422.js"></script> *@
@* </head>
<body> *@

   @*  <header>
        <h1>GurmeBurger</h1>
    </header>

    <main class="container">
        <section>
            <h2 class="text-center">Hakkımızda</h2>
            <img src="profile_image.jpg" alt="Profil Resmi" class="profile-image mx-auto d-block img-fluid" />
            <p class="about-text">
                Merhaba, biz SRHTS ekibi, GurmeBurger'ın kurucusu ve aşçısıyız ve sizinle lezzetli burgerleri seven bir ekip olarak ve bu sevgiyi paylaşmak için buradayız.
                GurmeBurger olarak kurduğumuz bu mekan, benzersiz ve enfes lezzetlerle dolu bir burger deneyimi sunmayı amaçlamaktadır.
                Sizleri GurmeBurger ailesine davet etmekten mutluluk duyarım. Umarım lezzet dolu bir deneyim yaşarsınız!
            </p>
        </section>
    </main>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
@* 
    <nav class="menu menu-left">
        <div class="close-menu-btn icon-menu active">&nbsp;</div>
        <ul>
            <li class="active"><a asp-action="Index">Home</a></li>
            <li><a asp-action="Order">Our Food</a></li>
            <li><a asp-action="About">About Us</a></li>
            <li><a asp-action="Contact">Contact</a></li>
        </ul>
    </nav>
    <div class="menu-btn"><span class="icon-menu">&nbsp;</span> Menu</div>


    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <!-- Your Content -->
    <div id="container">

        <div class="container">
            <div class="main-container row">
                <div id="logo">
                    <a asp-action="Index">
                        <div class="logo-icon"><img src="~/img/logo.png" /></div>
                        <div class="logo-type">Gurme Burger</div>
                        <div class="logo-slogan">Gurme Burger, lezzetli burgerleriyle sizi agırlamaktan mutluluk duyar.</div>
                    </a>
                </div>
            </div>
        </div> *@

        <div id="full-width-header" class="full-width">
            <div class="triangle top"></div>
            <div class="inner">
                <div class="slide">
                    <div class="inner-slide">
                        <img src="~/img/single/about.jpg" width="1980" height="560">
                    </div>
                </div>
            </div>
            <div class="triangle bottom"></div>
        </div>

        <div class="clear"></div>

        <div class="container full-page">
            <div id="about-us" class="main-container">
                <div class="row">
                    <div class="main-content col">
                        <div class="title">
                            <h1>About Us</h1>
                        </div>
                        <div class="intro">
                            <h2>Suspendisse fermentum, urna et lobortis blandit, lacus enim egestas felis, eget auctor tellus augue quis mauris. In hac habitasse platea dictumst. Aliquam erat volutpat.</h2>
                        </div>
                        <div class="content">
                            <p>
                                Merhaba, biz SRHTS ekibi, GurmeBurger'ın kurucusu ve aşçısıyız ve sizinle lezzetli burgerleri seven bir ekip olarak ve bu sevgiyi paylaşmak için buradayız.
                                GurmeBurger olarak kurduğumuz bu mekan, benzersiz ve enfes lezzetlerle dolu bir burger deneyimi sunmayı amaçlamaktadır.
                                Sizleri GurmeBurger ailesine davet etmekten mutluluk duyarım. Umarım lezzet dolu bir deneyim yaşarsınız!
                            </p>
                            <div class="content-thumbnail half align-left">
                                <img src="~/img/single/about-content.jpg" />
                            </div>
                            <p>Suspendisse fermentum, urna et lobortis blandit, lacus enim egestas felis, eget auctor tellus augue quis mauris. In hac habitasse platea dictumst. Aliquam erat volutpat. Aenean mattis, nibh nec fermentum sollicitudin, nunc nulla volutpat urna, sed tempor nisi ante quis quam. Fusce ipsum lectus, gravida in fermentum sed, fermentum in arcu. Nam cursus nisl a arcu laoreet, eu tincidunt felis semper. </p><p>Duis gravida sem ut ligula ultricies mattis. Ut neque augue, accumsan in nunc a, tincidunt vulputate velit. Praesent ornare risus in ante viverra facilisis. Vestibulum auctor porttitor risus et pretium. Curabitur eget odio diam. Ut vitae libero eget neque egestas accumsan at at neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget enim ac purus sagittis luctus pretium vitae elit. Nulla adipiscing magna a ligula dapibus tempus. Ut malesuada ipsum quis dolor faucibus, ac fermentum nulla eleifend. Vestibulum blandit faucibus ligula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="container full-page">
            <div id="our-team" class="main-container">
                <div class="row">
                    <div class="title col">
                        <h1>Our Team</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/single/our-team-1.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Harun</h3>
                            <h4 class="sub-title">Kitchen’s chef</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/single/our-team-2.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Tarik</h3>
                            <h4 class="sub-title">Taste creator</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/single/our-team-3.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Shohzod</h3>
                            <h4 class="sub-title">Recipe master</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/single/our-team-4.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Sude</h3>
                            <h4 class="sub-title">Gourmet</h4>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="clear space-area"></div>

       @*  <div class="triangle top footer"></div>
        <div class="container footer">
            <div id="footer" class="main-container">
                <div class="footer-top row">
                    <div class="footer-info col">
                        <div class="footer-logo">
                            <div class="logo-icon"><img src="~/img/footer-logo.png" /></div>
                        </div>
                        <div class="footer-address">
                            Company name</br>523 Avenue Street, New York
                        </div>
                        <div class="footer-contact">
                            (432) 421 693 812<br /><a href="#">office@companyname.com</a>
                        </div>
                    </div>
                    <div class="footer-newsletter col">
                        <div class="footer-newsletter-container">
                            <form id="subscribe-newsletter">
                                <input type="email" class="footer-input-text" placeholder="Enter your email to join newsletter..." />
                                <input type="submit" class="button grey-button footer-input-submit" value="Subscribe" />
                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="footer-bottom row">
                    <div class="footer-copyright col">
                        <div class="footer-copyright-text">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
                    </div>
                    <div class="footer-social-media col">
                        <div class="social-media-icon">
                            <span class="icon-social-media icon-facebook">&nbsp;</span>
                            <span class="icon-social-media icon-twitter">&nbsp;</span>
                            <span class="icon-social-media icon-google">&nbsp;</span>
                            <span class="icon-social-media icon-pinterest">&nbsp;</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div> *@

    @* </div> *@


  @*   <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/pushy.js"></script>
    <script type="text/javascript" src="~/js/slider.js"></script>
    <script type="text/javascript" src="~/js/browser.selector.js"></script>
    <script type="text/javascript" src="~/js/fastclick.js"></script>
    <script type="text/javascript" src="~/js/script1.js"></script> *@

@* </body>
</html> *@
