
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boş Şablon - GurmeBurger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        header {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
        }

        main {
            padding: 20px;
        }

        footer {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h2>Bizimle İletişime Geç</h2>
        
    </header>

    <main class="container">
        <form class="form-group">
            <label for="Baslik">Konu</label>
            <input type="text" class="form-control" />
            <label for="Icerik">İçerik</label>
            <textarea class="form-control" placeholder="Yazınız..."></textarea>
            <br />
            <a class="btn btn-outline-primary">Gönder</a>
        
        </form>
        <hr />

    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
