@using Domain.Entities
@model ContactVm
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boş Şablon - GurmeBurger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        header {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
        }

        main {
            padding: 20px;
        }

        footer {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h2>Bizimle İletişime Geç</h2>
        
    </header>
    
    <main class="container">
        @if(Model.User==null)
        {
            <form class="form-group" asp-action="Contact" method="post">
                <label asp-for="User.Email"></label>
                <input type="text" class="form-control" asp-for="User.Email" />
                <label asp-for="Message.Name">Başlık</label>
                <input type="text" class="form-control" asp-for="Message.Name" />
                <label asp-for="Message.Content">İçerik</label>
                <textarea class="form-control" placeholder="Yazınız..." asp-for="Message.Content"></textarea>
                <br />
                <input class="btn btn-dark" type="submit" value="Gonder" />
            </form>
        }
        else
        {
            <form class="form-group" asp-action="Contact" method="post">
                <input asp-for="User.Id"  hidden />
                <label asp-for="User.Email"></label>
                <input class="form-control" asp-for="User.Email" value="@Model.User.Email" readonly />
                <label asp-for="Message.Name">Başlık</label>
                <input type="text" class="form-control" asp-for="Message.Name" />
                <label asp-for="Message.Content">İçerik</label>
                <textarea class="form-control" placeholder="Yazınız..." asp-for="Message.Content"></textarea>
                <br />
                <input class="btn btn-dark" type="submit" value="Gonder" />
            </form>
        }

        <hr />

    
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
