@using Domain.Entities
@model List<Menu>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boş Şablon - GurmeBurger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="site.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        header {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
        }

        main {
            padding: 20px;
        }

        footer {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h2>Title</h2>

    </header>

    <main class="container">
        @foreach(Menu menu in Model)
        {
            <html>
            <div class="container-fluid">
                <div class="card-group">
                    <div class="card">
                        <img src="@menu.ImagePath" class="card-img-top vw-25" style="width:auto !important">
                        <div class="card-body">
                            <h5 class="card-title">@menu.Name</h5>
                            <p class="card-text">@menu.Description</p>
                            <a href="" class="btn btn-dark">Sepete Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
            </html>
         
        }


    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
